appdirs==1.4.4
asgiref==3.2.10
beautifulsoup4==4.9.3
bottle==0.12.18
bs4==0.0.1
cachetools==4.2.1
certifi==2020.6.20
chardet==3.0.4
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.2
django-heroku==0.3.1
et-xmlfile==1.0.1
fake-useragent==0.1.11
filelock==3.0.12
future==0.18.2
google-api-core==1.26.1
google-api-python-client==2.0.2
google-auth==1.27.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
gunicorn==20.0.4
httplib2==0.18.1
idna==2.10
imageio==2.9.0
jdcal==1.4.1
joblib==0.17.0
kiwisolver==1.3.1
lxml==4.6.1
matplotlib==3.3.3
networkx==2.5
numpy==1.19.4
oauth2==1.9.0.post1
oauth2client==4.1.3
oauthlib==3.1.0
opencv-python-headless==4.4.0.46
openpyxl==3.0.5
packaging==20.9
pandas==1.1.4
parse==1.18.0
Pillow==8.0.1
pipenv==2020.8.13
protobuf==3.15.5
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyee==7.0.4
pyparsing==2.4.7
pyppeteer==0.2.2
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyquery==1.4.1
PySocks==1.7.1
python-dateutil==2.8.1
python-twitter==3.5
pytz==2020.1
PyWavelets==1.1.1
requests==2.24.0
requests-html==0.10.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
threadpoolctl==2.1.0
tifffile==2020.12.8
tqdm==4.51.0
tweepy==3.9.0
twitter==1.18.0
uritemplate==3.0.1
urllib3==1.25.11
virtualenv==20.0.34
virtualenv-clone==0.5.4
w3lib==1.22.0
websockets==8.1
whitenoise==5.2.0