@media screen and (min-width: 481px) { /* PC */
  .title {
    font-size: 40px;
  }

  .search_inputtext { /* 検索フォーム(文字入力) */
    width: 200px;
  }

  .search_button { /* 検索フォーム(検索ボタン) */
    width: 80px;
  }
}

@media screen and (max-width: 480px) { /* スマホ */
  .title {
    font-size: 36px;
  }

  .search_inputtext { /* 検索フォーム(文字入力) */
    width: 150px;
  }

  .search_button { /* 検索フォーム(検索ボタン) */
    width: 60px;
  }

  .menu {
    height: 300px;
  }
}

#mylist_result .mylist-btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
#mylist_result .mylist-btn:hover {
  opacity: 0.7;
}
#mylist_result .article-mylist {
  display: inline-block;
  height: 250px;
  width: 250px;
  vertical-align: top; /* 上端揃え */
  margin: 2rem;
}
#mylist_result .article-mylist figure img {
  display: inline-block;
  border-radius: 5px;
  /* height: 200px;
  width: 250px; */
}

.category {
	list-style: none;
	width: 300px;
	height: 30px;
	margin: 3px;
	/* padding: 2px; */
	display: block;
	font-size: 18px;
	text-align: center;
	border: none;
	background-color: #CFC;
}

.link { /* カテゴリ一覧 */
	display: block;
	text-decoration: none;
  text-align: left;
}

.title { /* YouTube検索, niconico検索 */
  color: #ff6e00;
  margin-left: 40px;
  margin-right: 40px;
}

.subtitle { /* 追加するカテゴリを選択 */
  color: #ff6e00;
}

.app_title { /* Video Search */
  color: green;
  font-size: 30px;
}

.box { /* 四角で囲む */
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #4ec4d3;
  border-radius: 10px;
}

.content {
  margin: 0 40px; /* 上下, 左右 */
}

.mylist_add_button { /* 「マイリストに追加」ボタン */
  height: 40px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: #eda034;
  border: 2px solid #fff;
}

.side { /* 横並び */
  display: inline-block;
}

.app_title {
  font-family: 'Londrina Shadow', cursive;
  font-size: 30px;
}

.about {
  color: #ff6e00;
}

.menu {
  width: 49%;
}

.search_inputtext { /* 検索フォーム(文字入力) */
  background-color:#fff;
	border:1px solid #aaa;
}

.search_button { /* 検索フォーム(検索ボタン) */
  color:#fff;
  background-color:#f66;
  border:1px solid #c66;
  /* width: 80px; */
}

.back_search { /* 「YouTube検索に戻る」「ニコニコ動画検索に戻る」 */
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background: #4db56a;
  border-radius: 5px;
  color: #fff;
}

.back_search:hover {
  text-decoration: none;
  color: #fff;
}

.add_text { /* カテゴリを追加 */
  margin-right: 5px;
}

#edit_button, #back_button { /* 編集, 戻る */
  height: 40px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: #eda034;
  border: 2px solid #fff;
}

.delete_button { /* 選択した動画を削除する */
  height: 40px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: #f44336;
  border: 2px solid #fff;
}

.category_list { /* カテゴリ一覧 */
  color: #ff6e00;
  margin-left: 40px;
  margin-right: 40px;
}