#mylist_result .mylist-btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
#mylist_result .mylist-btn:hover {
  opacity: 0.7;
}
#mylist_result .article-mylist {
  display: inline-block;
  height: 250px;
  width: 250px;
  vertical-align: top; /* 上端揃え */
  margin: 2rem;
}
#mylist_result .article-mylist figure img {
  display: inline-block;
  border-radius: 5px;
  /* height: 200px;
  width: 250px; */
}

#input {
  border: none;
  outline: none;
  color: #a00;
}

/* #topmenu {
  color: #f00;
  background-color: #0f0;
} */