{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
{% endblock header %}

{% block content %}
<h1 class="title">マイリストに追加</h1>

<div class="content">
  <div class="box">
    <a href="{{ url }}" target="_blank" rel="noopener noreferrer">
      {{ title }}<br>
      <img src="{{ thumbnail }}" /><br>
    </a>
  </div>

  <h3 class="subtitle">追加するカテゴリを選択</h3>
    <form action="{% url 'mylist_add' %}" method="post">
      {% csrf_token %}
      {% for category in categories %}
        <!-- カテゴリを表示する -->
        <p>
          <label>
            <input type="checkbox" id="{{ category }}" name="{{ category }}" />
            {{ category }} 
          </label>
        </p>
      {% endfor %}

        <!-- カテゴリを追加 -->
        <div class="category_checkbox">
          <input type="text" placeholder="カテゴリを追加" name="category_add" class="add_text">
          <button type="submit" name="category_add_button" class="mylist_add_button">追加</button><br>
        </div>

      <!-- データを渡す -->
      <input type="hidden" name="title" value="{{ title }}" />
      <input type="hidden" name="url" value="{{ url }}" />
      <input type="hidden" name="thumbnail" value="{{ thumbnail }}" />
      <button type="submit" name="video_add_button" class="mylist_add_button">動画を選択したカテゴリに追加する</button><br>
  </form>

  <a href="{% url 'youtube_search' %}" class="back_search">YouTube検索に戻る</a>
  <a href="{% url 'niconico_search' %}" class="back_search">ニコニコ動画検索に戻る</a>
</div>
{% endblock content %}