{% extends "base.html" %} 

{% block content %}

<h1>マイリスト</h1>
<div id="mylist">
  <p>カテゴリ一覧</p>
  <ul>
    {% for category in categories %}
      <li class="category">
        <a href="{% url 'mylist_category' category %}" class="link">
          {{ category }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <form method="POST">
    {% csrf_token %}
    <input type="text" placeholder="カテゴリを追加" name="category_add" id="add_text">
    <button type="submit">追加</button>
  </form>
</div>

{% endblock %}