{% extends "base.html" %} 

{% block content %}

<p>カテゴリ : {{ pk }}</p>
<a href="{% url 'mylist' %}">カテゴリ一覧に戻る</a><br>
<button onclick="clickBtn3()">編集</button>
<button onclick="clickBtn4()">戻る</button>

<!-- 動画を表示する -->
<div id="mylist">
  {% for i in video_info %}
    <a href="{{ i.url }}" target="_blank" rel="noopener noreferrer">
      {{ i.title }}<br>
      <img src="{{ i.thumbnail }}" /><br>
    </a>
  {% endfor %}
</div>

<!-- 動画を選択して削除する -->
<div id="select_mylist_delete">
  <form method="post">
		{% csrf_token %}
    {% for i in video_info %}
      <p>
        <!-- チェックボックス -->
        <input class="recipe-btn" type="checkbox" name="check_delete" id="{{ i.recipeId }}" value="{{ i }}">
        {{ i.title }}<br>
        <img src="{{ i.thumbnail }}" /><br>
      </p>
    {% endfor %}
    <!-- カテゴリ名を渡す -->
    <input type="hidden" name="category_name" value="{{ pk }}" />
    <button type="submit">選択した動画を削除する</button>
  </form>
</div>

{% endblock %}