{% extends "base.html" %} 

{% block content %}

<h1 class="title">マイリスト</h1>
<div id="mylist">
  <p class="category_list">カテゴリ一覧</p>
  <ul>
    {% for category in categories %}
      <li class="category">
        <a href="{% url 'mylist_category' category %}" class="link">
          {{ category }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="content">
    <form method="POST">
      {% csrf_token %}
      <input type="text" placeholder="カテゴリを追加" name="category_add" class="add_text">
      <button type="submit" class="mylist_add_button">追加</button>
    </form>
  </div>
</div>

{% endblock %}