{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<!-- <div class="alert alert-primary" role="alert">
    youtube
</div> -->
{% endblock header %}

{% block content %}
<p>マイリストに追加</p>
<a href="{{ url }}" target="_blank" rel="noopener noreferrer">
  {{ title }}<br>
  <img src="{{ thumbnail }}" /><br>
</a>

<!-- カテゴリ一覧を表示する -->
<!-- <button onclick="...()">追加するカテゴリを選択</button> -->
<h3>追加するカテゴリを選択</h3>
<form action="{% url 'mylist_add' %}" method="post">
  {% csrf_token %}
  {% for category in categories %}
    <!-- <p>{{ category }}</p> -->
    <p>
      <input type="checkbox" id="{{ category }}" name="{{ category }}" />
      {{ category }} 
    </p>
  {% endfor %}
  <input type="hidden" name="title" value="{{ title }}" />
  <input type="hidden" name="url" value="{{ url }}" />
  <input type="hidden" name="thumbnail" value="{{ thumbnail }}" />
  <button type="submit">追加する</button>
</form>

<a href="{% url 'youtube_search' %}">youtube検索に戻る</a>
<a href="{% url 'niconico_search' %}">niconico検索に戻る</a>
{% endblock content %}