{% extends "base.html" %} 

{% block content %}

<h1>マイリスト</h1>
<div id="mylist">
    {% for i in mylist %}
    <!-- <button class="mylist-btn" onclick="location.href='{{ i.url }}'"> -->
    <!-- 新規タブで開く -->
    <a href="{{ i.url }}" target="_blank" rel="noopener noreferrer">
        <article class="article-mylist">
            <figure>
                <img src="{{ i.thumbnail }}" />
            </figure>
            <h5>{{ i.title }}</h5>
        </article>
    </a>
    {% endfor %}
</div>

<!-- 動画を選択して削除する -->
<div id="select_mylist_delete">
    <!-- formが送信されたら'mylist_delete'に遷移する -->
    <form action="{% url 'mylist_delete' %}" method="post">
        {% csrf_token %}
        {% for i in mylist %}
            <!-- チェックボックス -->
            <input class="recipe-btn" type="checkbox" name="video" id="{{ i.url }}" value="{{ i }}">
            {{ i.title }}<br>
            <img src="{{ i.thumbnail }}" /><br>
        {% endfor %}
        <br>
        <input class="btn btn-outline-success" type="submit" value="削除する">
    </form>
</div>

<p class="btn btn-link" id="select" onclick="clickBtn3()">選択</p>
<p class="btn btn-link" id="select" onclick="clickBtn4()">戻す</p>

{% endblock %}