{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<!-- <div class="alert alert-primary" role="alert">
    youtube
</div> -->
{% endblock header %}

{% block content %}

<h1 class="title">YouTube検索</h1>

<div class="content"> <!-- 最初は表示、マイリストに追加するときは非表示 -->
  <form method="POST" class="search_form">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="search_button" value="検索"></input>
  </form>

  <!-- <form method="POST" name="search_form">
    {% csrf_token %}
    <dl class="search_form">
      <dt>{{ form }}</dt>
      <dd><button type="submit">Search</button></dd>
    </dl>
  </form>

  <form action="#" name="search" method="post">
    <dl class="search">
      <dt><input type="text" name="search" value="" placeholder="検索するテキストを入力..." /></dt>
      <dd><button>Search</button></dd>
    </dl>
  </form> -->

  <!-- 検索結果 -->
  {% for i in result %}
    <div class="box">
      <!-- リンクを新規タブで開く -->
      <a href="{{ i.url }}" target="_blank" rel="noopener noreferrer">
        {{ i.title }}<br>
      </a>
      <div class="side">
        <!-- リンクを新規タブで開く -->
        <a href="{{ i.url }}" target="_blank" rel="noopener noreferrer">
          <img src="{{ i.thumbnail }}" />
        </a>
        <p>再生回数:{{ i.viewCount }}回</p>
      </div>
      <div class="side">
        <!-- 追加画面に遷移する -->
        <form method="POST">
          {% csrf_token %}
          <!-- データを追加画面に渡す -->
          <input type="hidden" name="title" value="{{ i.title }}" />
          <input type="hidden" name="url" value="{{ i.url }}" />
          <input type="hidden" name="thumbnail" value="{{ i.thumbnail }}" />
          <button type="submit" class="mylist_add_button">マイリストに追加</button><br>
        </form>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock content %}