{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
{% endblock header %}

{% block content %}

<h1 class="title">YouTube検索</h1>

<div class="content"> <!-- 最初は表示、マイリストに追加するときは非表示 -->
  <!-- 検索フォーム -->
  <form method="GET">
    {% csrf_token %}
    <!-- {{ form }} -->
    <input type="text" value="{{ request.GET.word }}" name="word" placeholder="キーワードを入力" class="search_inputtext"></input>
    <!-- <input type="text" value="{{ word }}" name="word" placeholder="キーワードを入力" class="search_inputtext"></input> -->
    <input type="hidden" value="1" name="page" />
    <button type="submit" class="search_button" value="検索">検索</button>
  </form>

  <!-- 並び替え -->
  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ sort }}</button>
    <ul class="dropdown-menu">
      <form method="POST">
        {% csrf_token %}
        <!-- データを渡す -->
        <input type="hidden" name="sort" value="関連性が高い順" />
        <li><button type="submit" class="dropdown-item" value="関連性が高い順">関連性が高い順</button></li>
      </form>
      <form method="POST">
        {% csrf_token %}
        <!-- データを渡す -->
        <input type="hidden" name="sort" value="投稿日時が新しい順" />
        <li><button type="submit" class="dropdown-item" value="投稿日時が新しい順">投稿日時が新しい順</button></li>
      </form>
      <form method="POST">
        {% csrf_token %}
        <!-- データを渡す -->
        <input type="hidden" name="sort" value="評価の高い順" />
        <li><button type="submit" class="dropdown-item" value="評価の高い順">評価の高い順</button></li>
      </form>
      <form method="POST">
        {% csrf_token %}
        <!-- データを渡す -->
        <input type="hidden" name="sort" value="再生回数の多い順" />
        <li><button type="submit" class="dropdown-item" value="再生回数の多い順">再生回数の多い順</button></li>
      </form>
    </ul>
  </div>

  <!-- ページのリンクを表示する -->
  {% if result.has_other_pages %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if result.has_previous %} <!-- 前のページがあるとき -->
        <li class="page-item">
          <a class="page-link" href="?q={{ request.GET.word }}&page={{ result.previous_page_number }}&sort={{ sort }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled"> <!-- 前のページがないとき -->
          <a class="page-link" href="#">Previous</a>
        </li>
      {% endif %}

      {% for i in result.paginator.page_range %}
        {% if result.number == i %} <!-- 現在のページ -->
          <li class="page-item disabled">
            <a class="page-link" href="#">{{ i }}</a>
          </li>
        {% else %} <!-- 現在のページ以外 -->
          <li class="page-item">
            <a class="page-link" href="?word={{ request.GET.word }}&page={{ i }}&sort={{ sort }}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if result.has_next %} <!-- 次のページがあるとき -->
        <li class="page-item">
          <a class="page-link" href="?word={{ request.GET.word }}&page={{ result.next_page_number }}&sort={{ sort }}">Next</a>
        </li>
      {% else %} <!-- 次のページがないとき -->
        <li class="page-item disabled">
          <a class="page-link" href="#">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

  <!-- 検索結果 -->
  {% for i in result %}
    <div class="box">
      <!-- リンクを新規タブで開く -->
      <a href="{{ i.url }}" target="_blank" rel="noopener noreferrer">
        {{ i.title }}<br>
      </a>
      <p>{{ i.channelTitle }}</p>
      <div class="side">
        <!-- リンクを新規タブで開く -->
        <a href="{{ i.url }}" target="_blank" rel="noopener noreferrer">
          <img src="{{ i.thumbnail }}" />
        </a>
        <p>再生回数:{{ i.viewCount }}回</p>
      </div>
      <div class="side">
        <!-- 追加画面に遷移する -->
        <form method="POST">
          {% csrf_token %}
          <!-- データを追加画面に渡す -->
          <input type="hidden" name="title" value="{{ i.title }}" />
          <input type="hidden" name="url" value="{{ i.url }}" />
          <input type="hidden" name="thumbnail" value="{{ i.thumbnail }}" />
          <button type="submit" class="mylist_add_button">マイリストに追加</button><br>
        </form>
      </div>
    </div>
  {% endfor %}

  <!-- ページのリンクを表示する -->
  {% if result.has_other_pages %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if result.has_previous %} <!-- 前のページがあるとき -->
        <li class="page-item">
          <a class="page-link" href="?q={{ request.GET.word }}&page={{ result.previous_page_number }}&sort={{ sort }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled"> <!-- 前のページがないとき -->
          <a class="page-link" href="#">Previous</a>
        </li>
      {% endif %}

      {% for i in result.paginator.page_range %}
        {% if result.number == i %} <!-- 現在のページ -->
          <li class="page-item disabled">
            <a class="page-link" href="#">{{ i }}</a>
          </li>
        {% else %} <!-- 現在のページ以外 -->
          <li class="page-item">
            <a class="page-link" href="?word={{ request.GET.word }}&page={{ i }}&sort={{ sort }}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if result.has_next %} <!-- 次のページがあるとき -->
        <li class="page-item">
          <a class="page-link" href="?word={{ request.GET.word }}&page={{ result.next_page_number }}&sort={{ sort }}">Next</a>
        </li>
      {% else %} <!-- 次のページがないとき -->
        <li class="page-item disabled">
          <a class="page-link" href="#">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>

{% endblock content %}